@font-face {
    font-family: "Roboto Slab";
    src: url("../../assets/fonts/RobotoSlab-VariableFont_wght.ttf") format("woff2");
}

body
{
    color: white;
	padding: 1em;
    font-family: "Roboto Slab";
}

h1
{
    margin: auto;
	text-align: left;
}

p 
{
    margin-top: 0px;
    margin-left: 6px;
}

ul 
{
    margin-top: auto;
    margin-right: 16px;
    list-style: none;
}

.contact 
{
    margin: 0 auto;
    width: 70%;
    text-align: center;
}