@font-face {
    font-family: '8bit';
    src: url(./assets/8bitoperator.ttf);
}

body
{
	font-family: '8bit';
    font-size: small;
	margin: 0px;
	padding: 15px;
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
	height: 90vh;
}

.edward
{
    --color-nav: rgb(0, 0, 0);
    --background-image: url(./assets/background_ed.gif);
    --font-color: rgb(255, 255, 0);
    --citation: "“How can you refuse when you are already playing the game?”";
    --author: "-Jevil, DELTARUNE";
    --author_img: url(./assets/Jevil.png);
}

.alphonse 
{
    --color-nav: rgb(0, 0, 0);
    --background-image: url(./assets/background_ed.gif);
    --font-color: rgb(255, 255, 0);
    --citation: "“WELL HAVE I GOT A DEAL FOR YOU!!”";
    --author: "-Spamton, Deltarune";
    --author_img: url(./assets/Spamton.png);
}

nav
{
	width: 100%;
	background-color: var(--color-nav);
    border: 3px solid white;
}

nav > ul
{
	margin: 0px;
	padding: 0px;
}

nav > ul::after
{ 
	content: "";
	display: table;
	clear: both;
}

nav li 
{
	list-style-type: none;
}

nav > ul > li 
{
	float: left;
	position: relative;
}

nav a
{
	display: inline-block;
	text-decoration: none;
}

nav > ul > li > a
{
	padding: 20px;
	color: rgb(255, 255, 255);
}

nav > ul > li:hover a 
{
	padding: 20px 20px 20px 20px;
}

/* Menus */
.menu-magic, .menu-source
{
    float: right;
}

.menu-title:hover a
{
    color: var(--font-color);
    transition-duration: 0.3s;
}

.menu-main:hover .nolink
{
	transition-duration: 0.3s;
    color: var(--font-color);
}

.menu-subsubmenu:hover .nolink
{
	transition-duration: 0.3s;
    color: var(--font-color);
}

.menu-magic:hover a
{
	transition-duration: 0.3s;
    color: var(--font-color);
}

.menu-source:hover a
{
    color: var(--font-color);
	transition-duration: 0.3s;
}

/* Sous-Menus */
.menu-main .submenu
{
	background-color: rgb(0, 0, 0);
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.menu-subsubmenu .submenu
{
    background-color: rgb(0, 0, 0);
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.menu-subsubmenu .submenu .subsubmenu
{
    background-color: rgb(0, 0, 0);
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.menu-main .submenu li:hover a
{
    color: var(--font-color);
}

.menu-subsubmenu .submenu li:hover > a
{
    color: var(--font-color);
    border-right: 4px solid black;
}

.menu-subsubmenu .subsubmenu li:hover a
{
    color: var(--font-color);
}

.submenu li a
{
	padding: 15px 30px;
	font-size: 13px;
	color: #FFF;
	width: 270px;
}

.submenu
{
	display: none;
}

.subsubmenu
{
    display: none;
}

nav li:hover .submenu
{
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	padding: 0px;
	z-index: 100000;
}

nav li > ul > li:hover .subsubmenu
{
	display: inline-block;
	position: absolute;
	top: -1%;
	left: 99%;
	padding: 0px;
	z-index: -100000;
}

/* Mobile */
.menu-mobile
{
	display: none;
}

nav input[type=checkbox]
{
	display: none;
}

nav input[type=checkbox]:checked ~ ul
{
	display: block;
}

@media screen and (max-width: 680px)
{
	.menu-mobile
	{
		display: block;
		color: #fff;
		background-color: rgb(0, 0, 0);
		text-align: center;
		padding: 12px 0;
	}

    .menu-title
    {
        display: none;
    }

	nav ul 
	{
		display: none;
	}

	nav ul li, nav ul li a
	{
		width: 100%;
		text-align: center;
	}

	nav ul li a, nav ul li:hover a
	{
		padding: 10px 0px 10px 0px;
	}

	nav li:hover .submenu
	{
		display: block;
		position: static;
	}

    .fa-github
    {
        visibility: hidden;
    }
}

/* Content */
div
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 9em;
    color: white;
    font-size: 2vmax;
    text-align: center;
    animation: fadeInAnimation ease 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    width: 70%;
}

footer
{
	position: fixed;
	bottom: 8px;
}

@keyframes fadeInAnimation
{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.citation::after
{
    font-style: italic;
    font-size: large;
    content: var(--citation);
}

.author::after
{
    font-size: small;
    content: var(--author);
}

.citation, .author 
{
    margin: auto;
}

/* Icones */
.fa-html5
{
    margin-top: 1px;
    color: #ff5733;
}

.fa-css3-alt
{
    margin-top: 1px;
    color: #338dff;
}

.fa-js-square
{
    margin-top: 1px;
    color: rgb(255, 187, 0);
}

.fab, .fas
{
    float: right;
    margin-left: 8px;
    margin-top: 1px;
}


