.button
{
    border: none;
    color: white;
    padding: 16px 32px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.2s;
    cursor: default;
}

.button1 
{
	background-color: black; 
	color: white;
	border-radius: 4px;
}

.button1:hover 
{
	background-color: #BBC7A4;
	color: white;
	cursor: pointer;
}
