body
{
	font-family: sans-serif;
	background-color: #2C363F;
}

/* Bannière */
header
{
	/*	background-color: #D6DBD2;*/
	color: white;
	border-radius: 12px;
	font-size: 4em;
	padding: 16px 32px;
	text-align: center;
	margin-bottom: 12px;
	display: block;
}

/* Principal */
div
{
	overflow: hidden;
	text-align: center;	
	width: 100%;
	margin: auto;
}

/* Menu */
.menu
{
	width: 20%; 
	height: 740px;
	float: left; 
	background-color: #F2F5EA;
	border-radius: 8px;
}

/* Menu boutons */
.button
{
    border: none;
    color: white;
    padding: 16px 32px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.2s;
    cursor: default;
}

.button1 
{
	background-color: black; 
	color: white;
	border-radius: 4px;
}

.button2 
{
	background-color: black; 
	color: white;
	padding: 8px 64px;
	border-bottom: 1px solid white;
}

.button1:hover 
{
	background-color: #BBC7A4;
	color: white;
	cursor: pointer;
}

.button2:hover 
{
	background-color: #BBC7A4;
	color: white;
	cursor: pointer;
}

ul
{
	list-style: none;
	text-align: center;
	margin-right: 6em;
}

nav > ul > li
{
	text-align: center;
	margin-top: 14px;
	border-radius: 4px;
}

/* Sous-menus */
.submenu ul > li a 
{
	padding: 15px 32px;	
	color: #FFF;
	position: absolute;
}

.submenu
{
	display: none;
    margin-left: -30px;
	margin-top: 12px;
}

nav ul > li:hover .submenu 
{
	display: inline-block;
	position: absolute;
}

nav > ul > li::after
{ 
	content: "";
	display: table;
	clear: both;
}

/* Contenu */
.content
{
	margin-left: 12px;
	width: 78%;
	height: 740px;
	float: left;
	border-radius: 8px;
}

iframe
{
	width: 100%;
	height: 100%;
	overflow: hidden;
	border-style: none;
}

/* Pied de page */
footer
{
	/*	background-color: #D6DBD2;*/
	color: white;
	border-radius: 12px;
	font-size: 4em;
	padding: 16px 32px;
	text-align: center;
	margin-top: 12px;
	display: block;
}

