span.t1
{
	color: green;
	font-size: 2em;
}

span.t2
{
	color: red;
	font-size: 2em;
}

div
{
	padding: 24px;
	margin: auto;
	width: 20%;
	border: 3px solid blue;
	border-radius: 16px;
	background-color: lightblue;
	text-align: center;
}