h1
{
	font-family: 'Arial';
	color: black;
	font-size: 2em;
	text-align: center;
	margin: 24px
}

table
{
	margin: auto;
	border: 4px solid #551a82;
	width: 35%
}

th
{
	padding: 60px;
	font-style: 'Arial';
	font-size: 2em;
	background-image: url('background_table.jpg');
	color: white;
}

td
{
	background-color: white;
	font-size: 0.90em;
	text-align: center;
	border: 2px solid #551a82;
	font-family: cursive;
}

tr
{
	border: 5px solid black;
}

.t1
{
	text-align: left;
}