@font-face {
    font-family: "Roboto Slab";
    src: url("./assets/fonts/RobotoSlab-VariableFont_wght.ttf") format("woff2");
}

body
{
	font-family: "Roboto Slab";
	margin: 0px;
	padding: 4px;
    background-color: #0E1116;
	animation: gradient 15s ease infinite;
	height: 100vh;
    font-size: 1.2em;
}

@keyframes gradient {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

nav
{
    /* border-bottom: 1px solid white; */
	width: 100%;
    /* background-color: #aba9b9; */
}

nav > ul
{
	margin: 0px;
	padding: 0px;
}

nav > ul::after
{ 
	content: "";
	display: table;
	clear: both;
}

nav li 
{
	list-style-type: none;
}

nav > ul > li 
{
	float: left;
	position: relative;
}

nav a
{
	display: inline-block;
	text-decoration: none;
}

nav > ul > li > a
{
	padding: 20px;
	color: white;
}

nav > ul > li > a:hover
{
	padding: 20px;
	color: #9E7B9B;
    transition-duration: 0.3s;
}

nav > ul > li:hover a 
{
	padding: 20px 20px 20px 20px;
}

/* Menus */
.menu-projet, .menu-veille, .menu-contact, .menu-cv
{
    float: right;
    position: relative;
}

.menu-title:hover a
{
    color: #CB9CF2;
    transition-duration: 0.3s;
}

.menu-projet:hover .nolink
{
	color: #9E7B9B;
	transition-duration: 0.3s;
}

.menu-veille:hover .nolink
{
	color: #9E7B9B;
	transition-duration: 0.3s;
}

/* Sous-Menus */
.menu-projet .submenu
{
	background-color: rgb(35, 52, 70);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.menu-veille .submenu
{
    background-color: rgb(35, 52, 70);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.menu-projet .submenu li:hover
{
	background-color: rgb(24, 35, 48);
}

.menu-veille .submenu li:hover
{
	background-color: rgb(24, 35, 48);
}

.submenu li a 
{
	padding: 15px 30px;
	font-size: 13px;
	color: #FFF;
	width: 270px;
}

li:hover .lastitem 
{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

li:hover .firstitem 
{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.submenu
{
	display: none;
}

nav li:hover .submenu
{
	display: inline-block;
	position: absolute;
	top: 100%;
	right: -100%;
	padding: 0px;
	z-index: 100000;
}

/* Mobile */
.menu-mobile
{
	display: none;
}

nav input[type=checkbox]
{
	display: none;
}

nav input[type=checkbox]:checked ~ ul
{
	display: block;
}

@media screen and (max-width: 680px)
{
	.menu-mobile
	{
		display: block;
		color: #fff;
		background-color: rgb(218, 153, 68);
		text-align: center;
		padding: 12px 0;
	}

    .menu-title
    {
        display: none;
    }

	nav ul 
	{
		display: none;
	}

	nav ul li, nav ul li a 
	{
		width: 100%;
		text-align: center;
	}

	nav ul li a, nav ul li:hover a 
	{
		padding: 10px 0px 10px 0px;
	}

	nav li:hover .submenu
	{
		display: block;
		position: static;
	}
}

/* Contenu */
div
{
    margin-left: auto;
    margin-right: auto;
    margin-top: .5em;
    color: white;
    font-family: "Roboto Slab";
    font-size: 2vmax;
    text-align: center;
    animation: fadeInAnimation ease 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    width: 90%;
}

.content
{
    height: 100vh;
    width: 100%;
}

@keyframes fadeInAnimation
{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

footer
{
    font-size: small;
    margin-bottom: 24px;
    color: #384255; 
}

/* Icones */
.fa-html5
{
    color: #ff5733;
}

.fa-css3-alt
{
    color: #338dff;
}

.fa-js-square
{
    color: rgb(255, 187, 0);
}

.fab
{
    float: right;
    margin-left: 8px;
    margin-top: 1px;
}